<div class="row m-0 p-0">
  <div class="col-2 bg-dark">
  </div>
  <div class="jumbotron col-7">
    <h1 class="display-4"><%= 'Welcome to Daiuk!' %></h1>
    <p class="lead">Read and write reviews of your favorite books</p>
    <hr class="my-4">
    <p>Create and account and don't miss anything about the last trendy books</p>
    <p class="lead">
      <%= link_to 'Sign up', new_user_path, class: 'btn btn-primary' %>
      <%= link_to 'Log in', login_path, class: 'btn btn-primary' %>
    </p>
  </div>
</div>
