<div class="row m-0 p-0">
  <div class="col border border-secondary">
    <p class="text-center"><b><%= following_by(current_user) %></b></p>
    <p class="text-center">Followings</p>
  </div>
  <div class="col border border-secondary">
    <p class="text-center"><b><%= followees_of(current_user) %></b></p>
    <p class="text-center">Followers</p>
  </div>
</div>
