<div class="row m-0 p-0">
  <div class="col border border-secondary">
    <p class="text-center p-0 m-0"><b><%= following_by(current_user) %></b></p>
    <p class="text-center p-0 m-0">Followings</p>
  </div>
  <div class="col border border-secondary">
    <p class="text-center p-0 m-0"><b><%= followees_of(current_user) %></b></p>
    <p class="text-center p-0 m-0">Followers</p>
  </div>
</div>
