<div class="row m-0 p-0">
  <div class="col border border-secondary ">
    <p><%= following_by(current_user) %></p>
    <p>Followings</p>
  </div>
  <div class="col border border-secondary ">
    <p><%= followees_of(current_user) %></p>
    <p>Followers</p>
  </div>
</div>
